* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Fraunces";
    font-size: 75px;
    font-weight: 400;
    color: #f7f7f7;
}

h2 {
    color: #c4a47c;
}

p {
    color: #666;
}

span {
    color: #f7f7f7;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #604829;
    position: fixed;
    width: 100vw;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.menu-logo {
    width: 70px;
}

.menu-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;
    cursor: pointer;
}

.container-parallax {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-parallax:nth-of-type(1) {
    height: 100vh;
    background-image: url("./img/parallax-imagem1.png");
}

.container-parallax:nth-of-type(2) {
    background-image: url("./img/parallax-imagem2.jpg");
}

.container-parallax:nth-of-type(3) {
    background-image: url("./img/parallax-imagem3.jpg");
}

.container-parallax:nth-of-type(4) {
    height: 150vh;
    background-image: url("./img/parallax-imagem4.png");
    flex-direction: column;
    gap: 50px;
    padding: 60px;
}

.container-parallax:nth-of-type(5) {
    height: 100vh;
    padding: 1rem;
    background-image: url("./img/cafeteria.jpg");
    flex-direction: column;
}

.subtitulo {
    font-family: "Fraunces", sans-serif;
    background-color: #604829;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 3rem;
}

.container-texto h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-texto p {
    color: #666;
    font-size: 1.2rem;
    line-height: 32px;
    text-align: center;
    max-width: 100ch;
}

.container-contato iframe {
    width: 100%;
}

.container-contato>div {
    background-color: #604829;
    padding: 20px 45px;
    border-radius: 5px;
}

.container-contato>div p {
    color: #f7f7f7;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    text-shadow: 3px 5px 4px #000000;
}

.horario h2 {
    text-align: center;
    color: #f7f7f7;
}

.horario-lista {
    width: 100%;
    max-width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.horario-lista li {
    width: 100%;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horario-lista li h3 {
    color: #f7f7f7;
}

.horario-lista li div {
    width: 100%;
    height: 1px;
    background-color: #acacac;
    margin: 0 10px;
}

.horario-lista li p {
    flex-shrink: 0;
}

.horario-lista li span {}

.botao-rodape {
    background-image: url("./img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
}

.container-rodape {
    background-color: #000000;
    position: relative;
    text-align: center;
    padding: 3px;
    height: 60px;
}

.container-rodape p {
    text-align: center;
    margin-top: 6px;
}

.container-rodape a {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    bottom: 55px;
}

@media screen and (max-width: 500px) {
    .menu {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .menu-link {
        font-size: 1rem;
    }
}